@charset "utf-8";

/*
   LinkedIn Learning Video Tutorial
   Transitions and Transformations
   
   Chapter 1:  Exploring Transitions
   Exercise 1: Making Hyperlinks Come Alive
   
   File: styles.css
*/


/*
   Lynda Video Tutorial
   Transitions and Transformations
   
   Chapter 1:  Exploring Transitions
   Exercise 1: Making Hyperlinks Come Alive
   
   File: styles.css

*/

html {
   background: white;
   font-family: Verdana, Geneva, sans-serif;
}

body {
   display: flex;
   flex-flow: row wrap;    
   margin: 0px auto;
   min-width: 320px;
   max-width: 1100px;  
   padding: 10px;
   width: 100%;
}

/* Header styles */

body > header {
   border-bottom: 10px solid rgb(200, 118, 0);
   color: white;
   display: -webkit-flex;
   display: flex;
   flex-flow: row wrap; 
   align-items: flex-end; 
   margin-bottom: 0px;
   width: 100%;
}

body > header > img {
   display: block;
   flex: 0 1 200px;
}


/* Navigation list styles */

body > header > nav {
   flex: 1 1 441px;
   margin-top: -50px;
}

body > header > nav > ul {
   display: -webkit-flex;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
}

body > header > nav > ul li {
   flex: 0 1 auto;
}

body > header > nav > ul > li {
   font-size: 1.7em; 
   line-height: 3.4em; 
   height: 3.4em;
   padding: 0px 10px;
}

body > header > nav > ul > li > a {
   color: white;
   display: block;
   width: 100%;
}


/* Section Styles */

body > section {
   flex: 1 1 400px;
   display: flex;
   flex-flow: row wrap;
   align-content: flex-start;   
}

/* Article Styles */





body > section > article > h1 {
   color: rgba(51, 51, 51, 0.9);   
   font-size: 2.9em;
   font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
   line-height: 1em;
   margin-top: 30px;
}

p {
   color: rgb(51, 51, 51);
   font-size: 1.4em;
   margin: 10px 20px 30px 0px;
   line-height: 1.4em;
   font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}



/* Right-side Navigation List Styles */

body > nav {
   border-left: 1px solid rgba(51, 51, 51, 0.4);   
   flex: 0 0 241px;
   padding-bottom: 15px;
   background: url(back.png);
}

body > nav > img {
   display: block;
   width: 100%;
   margin: 0px auto;
}

body > nav li.lTitle {
   font-size: 1.1em;
   color: rgba(51, 51, 51, 0.8);
   margin: 15px 0px 10px 20px;
}

body > nav a {
   display: block;
   margin-left: 30px;
   color: rgba(51, 51, 51, 0.7);
}

body > nav a:hover {
   color: rgb(137, 81, 0);
   text-decoration: underline;
}




/* Footer Styles */

footer {
   border-top: 1px solid rgba(51, 51, 51, 0.4);
   clear: left;
   text-align: right;
   width: 100%;
}

footer, footer span a {
   padding: 10px;
   color: rgba(51, 51, 51, 0.7);
}

footer span a:hover {
   color: rgb(0, 167, 167);
   text-decoration: underline;
}



