div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 4s;
}

div:hover {
    width: 300px;
    height: 300px;
}

/* We can also specify the speed curve of transition by setting the transition-timing-function property. It can have the following values:
Ease – default value, slow start, then fast, and ends slowly.
Linear – the same speed throughout the entire transition.
Ease-in – slow start.
Ease-out – slow end.
Ease-in-out – slow start and end.
Cubic-bezier(n,n,n,n) – our own function defined by the cubic-bezier function. */
div {
    width: 100px;
    height: 100px;
    background: red;
    transition-property: width, height, transform;
    transition-duration: 2s, 2s, 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }

div:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}